# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environnements virtuels
.venv/
venv/
env/
.python-version

# Tests & qualité
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
coverage.xml

# Variables d'environnement
.env
.env.local

# Outils de packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db